$bgColor: #eee;
$bgColorLight: #efefef;
$headerBgColor: #222831;
$logBgColor: #393e46;
$logFontColor: #00bed5;
$buttonBgColor: #ddd;
$buttonHoverBgColor: #d9d9d9;
$buttonActiveBgColor: #d3d3d3;
$borderColor: #ccc;
$borderColorActive: #999;
$fontColor: #555;
$logoSize: 42px;
$actionWidth: 400px;
$fabSize: 48px;
$fabMargin: 10px;
