@import "~normalize.css";
@import "loader";

body {
  font-family: Helvetica, sans-serif;
}

ul {
  list-style: none;
  padding: 20px;
  margin: 0;

  li {
    display: inline-block;

    a {
      display: block;
    }
  }
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.container {
  margin: 20px;
}

.content {
  width: 700px;
  margin: 0 auto;
}

h1 {
  text-align: center;
  color: #666;
  font-size: 20px;
  margin: 20px 0 50px;
}

h5 {
  margin-bottom: 2px;
  color: #999;
  font-weight: normal;
}

button {
  display: block;
  width: 100px;
  font-size: 15px;
  padding:  10px;
  border: 1px solid #999;
  background: #ddd;
  box-shadow: none;
  outline: none;
  cursor: pointer;
  color: #555;
  margin-left: 20px;

  &:hover {
    background: #eee;
  }
}

pre {
  border: 1px solid #ccc;
  background-color: #fefefe;
  min-height: 150px;
  padding: 10px;
  overflow: auto;
  line-height: 20px;
  color: #ccc;
  margin-top: 0;

  &.success {
    color: #2b8b00;
  }

  &.error {
    color: #e02d45;
  }

  &.small {
    min-height: 60px;
  }

  &.inline {
    display: inline-block;
    min-height: 21px;
    margin: 0;
    width: 343px;
    vertical-align: middle;
    padding: 8px 10px;
  }
}

.section {
  margin-bottom: 20px;
}

.section-row {
  margin-bottom: 20px;

  label,
  input,
  button {
    display: inline-block;
    vertical-align: middle;
  }
}

label {
  color: #999;
  display: block;

  i {
    font-style: normal;
  }

  span {
    display: block;
    padding: 20px 0 7px;
    margin-right: 210px;
  }

  button {
    float: right;
  }

  &.long {
    width: 204px;
  }
}

input {
  padding: 5px 2px;
}

input[type=number] {
  width: 70px;
  text-align: right;

  + i {
    font-style: normal;
    color: #999;
  }
}

