@import "~normalize.css";
@import "loader";
@import "flex-grid";

$bgColor: #eee;
$headerBgColor: #222831;
$logBgColor: #393e46;
$logFontColor: #00bed5;
$buttonBgColor: #ddd;
$buttonHoverBgColor: #d9d9d9;
$buttonBorderColor: #ccc;
$buttonFontColor: #555;
$logoSize: 42px;

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family: Helvetica, sans-serif;
  background-color: $bgColor;
  height: 100%;
}

ul {
  list-style: none;
  padding: 20px;
  margin: 0;

  li {
    display: inline-block;

    a {
      display: block;
    }
  }
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.container {
  margin: 20px;
}

h1 {
  text-align: center;
  color: $logFontColor;
  font-size: 18px;
  padding: 0;
  margin: 0;
  background-color: $headerBgColor;

  span {
    display: block;
    padding: 12px 0 12px $logoSize;
    text-indent: -$logoSize;
  }
}

.adjust-logo {
  $logoImgSize: $logoSize - 12px;
  display: block;
  float: left;
  width: $logoSize;
  height: $logoSize;
  margin-right: 5px;
  background-image: url("../images/adjust-logo.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: $logoImgSize $logoImgSize;
}

button {
  display: block;
  font-size: 15px;
  padding:  10px;
  border: 1px solid $buttonBorderColor;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background: $buttonBgColor;
  box-shadow: none;
  outline: none;
  cursor: pointer;
  color: $buttonFontColor;

  &:hover {
    background: $buttonHoverBgColor;
  }
}

pre {
  border: 1px solid $buttonBorderColor;
  background-color: #fefefe;
  padding: 10px;
  overflow: auto;
  line-height: 20px;
  color: #bbb;
  margin: 0;

  &.big {
    height: 200px;
    color: $logFontColor;
    background: $logBgColor;
    border-color: $headerBgColor;
  }

  &.inline {
    display: inline-block;
    min-height: 21px;
    margin: 0 0 0 -4px;
    width: 150px;
    vertical-align: middle;
    padding: 8px 10px;
    border-left: none;
  }
}

.section {
  width: 460px;
  margin: 0 auto 20px;

  button {
    display: inline-block;
    vertical-align: middle;
    width: 270px;
    text-align: left;
  }
}

.actions {
  overflow: auto;
  padding-top: 20px;
}

