{
  "presets": [
    "@babel/preset-flow",
    ["@babel/preset-env", {
      "targets": ["> 0.25%", "not dead"]
    }]
  ],
  "plugins": [
    "es6-promise",
    "@babel/plugin-transform-flow-comments",
    ["@babel/plugin-transform-runtime", {
      "version": "7.18.6"
    }]
  ],
  "env": {
    "test": {
      "plugins": ["@babel/plugin-transform-modules-commonjs"]
    }
  },
  "overrides": [
    {
      "test": ["./src/**/*.ts"],
      "presets": [
        "@babel/preset-typescript",
        ["@babel/preset-env", {
          "targets": ["> 0.25%", "not dead"]
        }]
      ],
      "plugins": [
        "@babel/plugin-proposal-class-properties"
      ]
    }
  ]
}
