{
  "env": {
    "browser": true,
    "node": true,
    "jest": true
  },
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "extends": [
    "eslint:recommended",
    "plugin:flowtype/recommended"
  ],
  "plugins": [
    "flowtype"
  ],
  "globals": {
    "Promise": true,
    "__ADJUST__NAMESPACE": true,
    "__ADJUST__SDK_VERSION": true,
    "Utils": true
  },
  "rules": {
    "quotes": [
      "error",
      "single"
    ],
    "prefer-arrow-callback": "error",
    "prefer-object-spread": "error",
    "flowtype/no-types-missing-file-annotation": "off"
  },
  "overrides": [
    {
      "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended"
      ],
      "files": [
        "./src/**/*.ts"
      ],
      "parser": "@typescript-eslint/parser",
      "parserOptions": {
        "project": "./tsconfig.json"
      },
      "plugins": [
        "@typescript-eslint"
      ],
      "rules": {
        "eol-last": "error",
        "@typescript-eslint/ban-types": "warn",
        "@typescript-eslint/explicit-module-boundary-types": "off",
        "@typescript-eslint/no-namespace": "warn"
      }
    },
    {
      "extends": [
        "plugin:jest/style"
      ],
      "files": [
        "./src/**/*.spec.*"
      ],
      "env": {
        "jest": true
      },
      "plugins": [
        "jest"
      ],
      "rules": {
        "jest/prefer-to-have-length": "off",
        "jest/no-disabled-tests": "error",
        "jest/no-focused-tests": "error",
        "jest/no-identical-title": "error",
        "@typescript-eslint/no-var-requires": "off",
        "jest/prefer-to-be": "warn"
      }
    }
  ]
}
