{
  "env": {
    "browser": true,
    "node": true,
    "jest": true
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "extends": [
    "eslint:recommended",
    "plugin:flowtype/recommended"
  ],
  "plugins": ["flowtype"],
  "globals": {
    "Promise": true,
    "__ADJUST__NAMESPACE": true,
    "__ADJUST__SDK_VERSION": true,
    "Utils": true
  },
  "rules": {
    "semi": ["error", "never"],
    "space-before-function-paren": ["error", "always"],
    "quotes": ["error", "single"],
    "prefer-arrow-callback": "error",
    "prefer-object-spread": "error"
  },
  "overrides": [
    {
      "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended"
      ],
      "files": ["./src/**/*.ts"],
      "parser": "@typescript-eslint/parser",
      "parserOptions": {
        "project": "./tsconfig.json"
      },
      "plugins": ["@typescript-eslint"],
      "rules": {
        "semi": ["error", "never"],
        "space-before-function-paren": ["error", "never"],
        "eol-last": "error",
        "@typescript-eslint/ban-types": "warn",
        "@typescript-eslint/explicit-module-boundary-types": "off"
      }
    },
    {
      "extends": ["plugin:jest/style"],
      "files": ["./src/**/*.spec.*"],
      "env": {
        "jest": true
      },
      "plugins": ["jest"],
      "rules": {
        "jest/prefer-to-have-length": "off",
        "jest/no-disabled-tests": "error",
        "jest/no-focused-tests": "error",
        "jest/no-identical-title": "error",
        "@typescript-eslint/no-var-requires": "off"
      }
    }
  ]
}
