body {
  font-family: 'Helvetica', sans-serif;
}

.container {
  margin: 20px;
}

.content {
  width: 700px;
  margin: 0 auto;
}

h1 {
  text-align: center;
  color: #666;
  font-size: 20px;
  margin-bottom: 50px;
}

h5 {
  margin-bottom: 2px;
  color: #999;
  font-weight: normal;
}

button {
  display: block;
  margin: 0 auto 20px;
  width: 200px;
  font-size: 15px;
  padding:  10px;
  border: 1px solid #999;
  background: #ddd;
  box-shadow: none;
  outline: none;
  cursor: pointer;
  color: #555;
}

button:hover {
  background: #eee;
}

pre {
  border: 2px solid #ccc;
  background-color: #fefefe;
  min-height: 100px;
  padding: 10px;
  overflow: auto;
  white-space: pre-line;
  line-height: 20px;
  color: #ccc;
  margin-top: 30px;
}

pre.success {
  color: #2b8b00;
}

pre.error {
  color: #e02d45;
}
