<div class="content flex-one flex-box-column">
  <div class="flex-auto">
    <h1><i class="adjust-logo"></i> <span>Web SDK Demo</span></h1>
    ${require('../demo/tabs/tabs.html')}
  </div>

  <div class="actions flex-one">
    ${require('../demo/track-event/track-event.html')}
    ${require('../demo/add-global-callback-params/add-global-callback-params.html')}
    ${require('../demo/add-global-partner-params/add-global-partner-params.html')}

    <div class="action-block">
      <div class="action-wrap flex-box-row">
        <button id="addgcp-button" class="action flex-one">Add Global Callback Params</button>
        <button type="button" id="addgcp-toggle" class="form-toggle flex-auto">...</button>
      </div>
      <div class="side-form" id="addgcp-side-form"></div>
    </div>

    <div class="section">
      <button id="revent" class="action">Track Revenue Event</button>
      <pre id="revent-log" class="inline"></pre>
    </div>

    <div class="section">
      <button id="addgcp" class="action">Add Global Callback Params</button>
      <pre id="addgcp-log" class="inline"></pre>
    </div>

    <div class="section">
      <button id="addgpp" class="action">Add Global Partner Params</button>
      <pre id="addgpp-log" class="inline"></pre>
    </div>

    <div class="section">
      <button id="removegcp" class="action">Remove Global Callback Param</button>
      <pre id="removegcp-log" class="inline"></pre>
    </div>

    <div class="section">
      <button id="removegpp" class="action">Remove Global Partner Param</button>
      <pre id="removegpp-log" class="inline"></pre>
    </div>

    <div class="section">
      <button id="cleargcp" class="action">Remove All Global Callback Params</button>
      <pre id="cleargcp-log" class="inline"></pre>
    </div>

    <div class="section">
      <button id="cleargpp" class="action">Remove All Global Partner Params</button>
      <pre id="cleargpp-log" class="inline"></pre>
    </div>

    <div class="section">
      <button id="gooffline" class="action">Go Offline</button>
      <pre id="gooffline-log" class="inline"></pre>
    </div>

    <div class="section">
      <button id="goonline" class="action">Go Online</button>
      <pre id="goonline-log" class="inline"></pre>
    </div>

    <div class="section">
      <button id="stop" class="action">Stop SDK</button>
      <pre id="stop-log" class="inline"></pre>
    </div>

    <div class="section">
      <button id="restart" class="action">Restart SDK</button>
      <pre id="restart-log" class="inline"></pre>
    </div>

    <div class="section">
      <button id="gdpr" class="action">GDPR Forget Me</button>
      <pre id="gdpr-log" class="inline"></pre>
    </div>

    <div class="section">
      <button id="tps" class="action">Third-party sharing opt-out</button>
      <pre id="tps-log" class="inline"></pre>
    </div>
  </div>
</div>
