@import "../../assets/scss/flex-grid";

$adjustBlue: #00bed5;

.banner {
  width: 100vw;
  position: fixed;
  left: 0;
  bottom: 0;
  background-color: white;

  .banner-body {
    align-items: center;
    margin: 2px 8px;
  }

  .banner-body .banner-text {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .banner-body button {
    background-color: $adjustBlue;
    color: white;
    border: none;
    border-radius: 2px;
    padding: 8px 10px;
    display: inline-block;
    vertical-align: middle;
    text-transform: uppercase;
    text-align: center;
    font-size: .9em;
    letter-spacing: .02em;
    cursor: pointer;
  }
}
