@import "../../assets/scss/variables";

$height: 300px;

.tabs {
  @extend .flex-box-row;
  padding: 0;
  margin: 0;
  background-color: $headerBgColor;

  li {
    @extend .flex-one;
    a {
      display: block;
      padding: 10px;
      text-decoration: none;
      color: $logFontColor;
      text-align: center;
      text-transform: uppercase;

      &.active {
        background-color: $logBgColor;
      }
    }
  }
}

.tab {
  display: none;
  border: 1px solid $headerBgColor;
  height: $height;

  &.active {
    display: block;
  }
}

.fab {
  position: relative;
  top: - $fabSize - $fabMargin;
  float: right;
  margin-right: $fabMargin;
  margin-bottom: - $fabSize;
  height: $fabSize;
  width: $fabSize;
  background-color: $headerBgColor;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);

  img {
    user-select: none;
    width: 50%;
    height: 50%;
  }

  &:hover {
    cursor: pointer;
  }

  &:active {
    background-color: #383f49;
    transition: all linear;
  }
}

.log {
  padding: 10px 5px 10px 10px;
  height: 100%;
  box-sizing: border-box;
}

.config {
  padding: 10px 5px 10px 10px;
  box-sizing: border-box;
  border: none;
}

#log-tab-container {
  overflow: auto;
}

#app-config-tab-container {
  overflow: auto;
  padding: 0;

  & > .flex-box-row {
    align-items: stretch;
  }

  form {
    padding: 10px;
  }
}

.inline-actions {
  display: flex;

  button {
    display: inline-block;
    flex: 1 0 0%;
  }

  :nth-child(n+2) {
    margin-left: 10px;
  }
}
