<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>WebSDK</title>
</head>
<body class="flex-box-column">
<div class="main flex-box-column flex-one">
  <div class="content flex-one flex-box-column">
    <div class="flex-auto">
      <h1><i class="adjust-logo"></i> <span>Web SDK Demo</span></h1>
      <%- include('./demo/tabs/tabs.html') %>
    </div>

    <div class="actions flex-one">
      <%- include('./demo/track-event/track-event.html') %>
      <%- include('./demo/add-global-callback-params/add-global-callback-params.html') %>
      <%- include('./demo/add-global-partner-params/add-global-partner-params.html') %>
      <%- include('./demo/remove-global-callback-param/remove-global-callback-param.html') %>
      <%- include('./demo/remove-global-partner-param/remove-global-partner-param.html') %>
      <%- include('./demo/clear-global-callback-params/clear-global-callback-params.html') %>
      <%- include('./demo/clear-global-partner-params/clear-global-partner-params.html') %>
      <%- include('./demo/switch-to-offline-mode/switch-to-offline-mode.html') %>
      <%- include('./demo/switch-back-to-online-mode/switch-back-to-online-mode.html') %>
      <%- include('./demo/stop/stop.html') %>
      <%- include('./demo/restart/restart.html') %>
      <%- include('./demo/gdpr-forget-me/gdpr-forget-me.html') %>
      <%- include('./demo/disable-third-party-sharing/disable-third-party-sharing.html') %>
      <%- include('./demo/get-web-uuid/get-web-uuid.html') %>
      <%- include('./demo/get-attribution/get-attribution.html') %>
      <%- include('./demo/set-referrer/set-referrer.html') %>
    </div>
  </div>

</div>
</body>
</html>
